header {
  padding-top: 2em;
  padding-right: 5em;
  padding-bottom: 4em;
  /*background-color: yellow;*/
}

#addNewJob {
  color: purple;
  float: right;
}


#closeButton {
  float: right;
}

#title {
  padding-left: .5em;
  display: inline;
}

#createJobButton {
  float: left;
}

/*#mainPageBody {
  padding-top: 5em;
}*/

.modal-title {
  text-align: center;
}

/*.listJobs {
  width: 300px;
  text-align: center;
}*/
