header {
  padding-top: 2em;
  padding-right: 5em;
  padding-bottom: 4em;
}

#title {
  padding-left: .5em;
  display: inline;
}

#addNewJobButton {
  float: right;
}

#homeButton {
  float: right;
}

#closeButton {
  float: right;
}

#createJobButton {
  float: left;
}

.modal-title {
  text-align: center;
}
